.projects {
  padding: 80px 20px;
  text-align: center;
}

.projects h2 {
  color: var(--white-1);
  font-size: 36px;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.project-card {
  background: calc(--border-gradient-onyx);
  box-shadow: 0px 10px 20px calc(--shadow-1);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 1.5s ease-in-out;
}

.project-card .project-card-title,
.project-card-desc {
  color: white;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px var(--vegas-gold);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card a {
  color: var(--vegas-gold);
  text-decoration: none;
}
