@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes neonGlow {
  0%,
  100% {
    text-shadow: 0 0 2px calc(--light-yellow), 0 0 4px calc(--light-yellow);
  }
  50% {
    text-shadow: 0 0 4px calc(--light-yellow), 0 0 8px calc(--light-yellow);
  }
}

.glow-text {
  color: white;
  animation: neonGlow 2s infinite;
}
